<!DOCTYPE html>
{%load blog_tags%}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title_block%}{%endblock%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/demo.css" %}">

</head>
<body>
<div class="jumbotron">
    <div class="container">
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" align="center" class="btn btn-success" value="Sign up">
    </form>
</div>
</div>

</body>
</html>